# xbukas00
src/functions.py xbukas00@stud.fit.vutbr.cz

# xvalac12
mockup/* xvalac12@stud.fit.vutbr.cz
plan/* xvalac12@stud.fit.vutbr.cz
src/gui.py xvalac12@stud.fit.vutbr.cz

# xbezak02
src/tests.py @Brezak

# xstola03
src/profiling.py xstola03@stud.fit.vutbr.cz
profiling/* xstola03@stud.fit.vutbr.cz
